*{
  box-sizing: border-box;
}

body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  width: 100%;
}

.main{
   width: 80%;      /* fixed clean width */
   background: white;
   padding: 30px;
   border-radius: 12px;
   box-shadow: 0 5px 20px rgba(0,0,0,0.1);
   text-align: center;
}

button{
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    width: 75px;
    height: 25px;
    font-weight:bold ;
}
input{
    width: 50%;
    text-align: center;
}
.status{
    display: flex;
    justify-content:flex-start;
    gap: 25px;
    align-items: center;
    cursor: pointer;
}
.box{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    min-height: 400px;
    background-color: #f9f9f9;
}
.ouput{
    display:grid
}

.footer{
    color: blueviolet;
    font-weight: bold;
}